# deps
node_modules/

# builds
dist/
build/
.vite/

# env
.env
.env.local
*.local

# sqlite
*.db
*.db-journal
*.db-wal
*.db-shm

# editor / os
.DS_Store
.vscode/
.idea/
Thumbs.db

# logs
*.log
npm-debug.log*

# test coverage
coverage/
